.board {
  margin: 10px;
  padding: 20px;
}
.board-row {
  display: flex;
  flex-flow: row nowrap;
}
.status {
  margin: 20px;
  font-size: 24px;
  text-align: center;
}
.btn {
  display: block;
  font-size: 20px;
  background-color: inherit;
  color: #fff;
  font-family: inherit;

  margin-block: 20px;
  margin-inline: auto;
}
